<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Oh hai</title>
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
  <div class="container">
    
    <%= yield %>
  </div>
  
</body>
</html>