<div class="four">
  <p>This is my number <%= @my_number %></p>
</div>
<div class="eight">
  <div class="four-of-eight">
    <p>test</p>
  </div>
  <div class="four-of-eight">
    <p><a href="/">home</a></p>
  </div>
</div>